#titulo{
    background-color: rgb(0, 0, 0);
    padding: 25px;
    border-bottom: 10px;
    border-bottom-color: rgb(206, 177, 84);
    border-bottom-style: solid;
    text-transform: uppercase;
    font-size: 60px;
}

body {
    background-color: rgb(247, 223, 144);
    font-family: 'Roboto Slab', serif;
}

h1 {
    color: rgb(255, 255, 255);
    background-color: rgb(119, 88, 4);
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}

h2 {
    font-family: 'Press Start 2P', cursive;
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 10px;
}

ul {
    text-align: justify;
}

img {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 10px;
}

blockquote {
    background-color: rgb(206, 177, 84);
    padding: 20px;
    border-width: 10px;
    border-color: rgb(119, 88, 4);
    border-style: solid;
}

aside {
    background-color: rgb(206, 177, 84);
    padding: 20px;
}

aside a, p {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

aside h1{
    font-size: 20px;
    padding: 10px;
}

header {
    grid-area: hd;
}

nav {
    grid-area: nv;
}

main {
    grid-area: main;
}

footer {
    background-color: black;
    padding: 20px;
    grid-area: ft;
}

footer p {
    background-color: black;
    color: white;
}

div {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0px;
    padding-bottom: 20px;
}

/**GRID**/
.grid-container {
    display: grid;
    grid-template-areas: "hd hd"
                         "main nv"
                         "ft ft";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 80% 20%;
}
/**================================**/

/**NAVBAR**/
.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: lowercase;
}

.navbar-itens {
    display: flex;
    flex-direction: column;
}

.navbar-itens li {
    display: flex;
    margin-top: 10px;
    font-weight: bold;
    justify-content: center;
}

.icones-sociais {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.icones-sociais a{
    margin-left: 10px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-indent: -99999px;
}

.github {
    background-image: url('../imagens/github.png');
    background-size: 40px;
}

.twitter {
    background-image: url('../imagens/twitter.png');
    background-size: 40px;
}

.linkedin {
    background-image:  url('../imagens/linkedin.png');
    background-size: 40px;
}
/**================================**/

/**TABLE**/
table {
    border: 4px solid rgb(247, 223, 144);
    text-align: center;
}

td {
    border: 0px solid rgb(247, 223, 144);
    padding: 10px;
}

th {
    padding: 10px;
}

.skill {
    background-color: rgb(119, 88, 4);
    color: white;
    border: none;
    text-align: left;
}

.lvl {
    background-color:  rgb(206, 177, 84);
}

thead {
    background-color: black;
    color: white;
}

/**================================**/

/**FONTS
    font-family: 'Press Start 2P', cursive;
    font-family: 'Roboto Slab', serif;
*/


