main {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-size: 3rem;
    background-color: black;
    color: white;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.sorte {
    align-content: center;
    border: solid 1px black;
    padding: 1rem;
    background-color: rgb(201, 201, 201);
    max-width: 500px;
}

.sorte h2 {
    text-align: center;
    font-size: 2rem;
    margin: 0px;
}

/*.sorte h3 {
    font-size: 1rem;
    text-align: center;
    margin: 0px;
}*/

.sorte form, label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-size: 1rem;
    text-align: center;
}

.btn {
    background-color: black;
    color: white;
    margin: 16px;
}